.build-successful a     { background-image: url(success.gif)     !important }
.build-successful-alt a { background-image: url(success-alt.gif) !important }
.build-failed a         { background-image: url(failed.gif)      !important }
.build-aborted a        { background-image: url(aborted.gif)     !important }
.build-unstable a       { background-image: url(unstable.gif)    !important }
.build-inprogress a     { background-image: url(inprogress.gif)  !important }

ul.builds {
 list-style: none;
}
ul.builds li {
 display: inline;
}
ul.builds li {
 line-height: 20px;
 margin-right: 2px;
/* border: 1px solid blue; */
}
ul.builds li a {
 display: inline;
 background-repeat: no-repeat;
 padding: 0 14px 0 0;
}

div#hudson-callout {
 border: 2px #ddd ridge;
 padding: .2em 1em;
}
#hudson-callout dt {
 position: absolute;
 width: 7em;
 padding-right: .5em;
 text-align: right;
 font-weight: bold;
}
#hudson-callout dd {
 margin-left: 8em;
}
